body {
    background-color: rgb(201, 238, 241);
}

h1 {
    text-align: center;
}

.container {
    display        : flex;
    justify-content: center;
}

/* New Ticket Button */
#new-ticket-button {
    margin: .5rem 0 2rem 0;
    font-size: 20px;
}

#cell-container {
    display         : inline-flex;
    background-color: white;
}

.cell {
    margin          : .5rem 0 .5rem .5rem;
    height          : 50px;
    width           : 50px;
    justify-content : center;
    align-items     : center;
    display         : flex;
    background-color: gray;
}

#lucky {
    box-sizing        : border-box;
    -moz-box-sizing   : border-box;
    -webkit-box-sizing: border-box;
    margin            : .5rem .5rem .5rem 1rem;
}